// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: grey;
$light-gray: #F4F4F4;

// our color
$our-red:rgb(235, 29, 54);
$our-blue: #0096FF;
$our-grey:rgb(162, 181, 187);
$our-light-grey: rgb(207, 210, 207);
$our-light-yellow:rgb(245, 237, 220);
