<!-- app/views/resources/_card.html.erb -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= resource.title %></h5>
    <!-- Add other card details -->
    <a href="#" class="pin-button"><i class="fas fa-thumbtack"></i></a>
  </div>
</div>
