.group-page-container {
  margin-bottom: 80px;
}

.banner {
  width: 100%;
  max-width: 414px;
  height: 200px;
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  padding-left: 0;
  padding-right: 0;
}

.group-page-info {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  .h1 {
    color: $our-blue;
    text-align: center;
  }
}

.group-members-container {
  display: flex;
  margin-left: 8px;
  margin-right: 10px;
  margin-top: 8px;
  border-top: 1.5px solid $our-grey;
  padding-left: 0;
  .avatar {
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 25px;
  }
}

.group-request-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  border-top: 1.5px solid $our-grey;
}

.group-page-description {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  h1{
    color: $our-blue;
    text-align: center;
  }
}

.group-page-item {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  border-top: 1.5px solid $our-grey;
}

.event-droplist {
  display: none;
}

.display-cards {
  display: block;
}

.group-members-container .avatar{
  margin-bottom: 20px;
}

.event-info-card-body {
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
  overflow: hidden;
  background: $our-light-yellow;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.event-info-card-body h4 {
  color: $our-red;
}

.event-info-card-body p {
  color: $gray;
  font-size: 12px;
  font-family: $body-font;
  line-height: 1;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.event-confermation-container {
  margin-top: 15px;
  margin-left: 200px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.confermation {
  margin-bottom: 20px;
  color: $our-blue;
}
