.group-page-container {
  margin-bottom: 100px;
  position: relative;
}

.group-showpage-description .h1 {
  color: white;
}

.banner {
  width: 100%;
  max-width: 414px;
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  padding-left: 0;
  padding-right: 0;
}

.group-page-info {
  margin-left: 10px;
  margin-right: 10px;

  h1 {
    position: absolute;
    color:white;
    background-color: $our-red;
    border-radius: 10px;
    padding: 2px 6px 2px 2px;
    top: 204px;
    left: 88px;
  }

  > p {
    padding-right: 5px;
    padding-left: 5px;
  }

  #request-user {
    color: $our-blue;
    font-weight: bold;
  }

  span {
    margin-right: 10px;
  }
}

.group-headers {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.group-show-tags {
  display: flex;
  justify-content: center;

  .group-show-tag {
    font-size: 12px;
    align-items: flex-end;
    color: $our-blue;
    border: solid 1px $our-blue;
    margin-right: 5px;
    padding: 0px 6px;
    border-radius: 10px;
    margin-bottom: 16px;
  }
}

.group-members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;
  margin-right: 10px;
  margin-top: 8px;
  border-top: 1px solid $our-grey;
  padding-left: 0;

  .avatar {
    width: 30px;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 0px;
  }

  .avatar-admin {
    width: 34px;
    border: 2px solid $our-blue;
  }
}

.group-request-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  border-top: 1px solid $our-grey;

  .group-request-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.group-request-name-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.button-request-accept {
  color: white;
  background-color: $red;
  font-size: small;
  padding: 2px 8px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

.button-request-less {
  margin-left: 5px;
}

.button-request-decline {
  color: $our-red;
  background-color: white;
  border: 1px solid $our-red;
  font-size: small;
  padding: 2px 8px;
  border-radius: 10px;
  text-decoration: none;
}

.tag-confirm-going {
  color: $our-blue;
  background-color: white;
  border: 1px solid $our-blue;
  font-size: small;
  padding: 2px 8px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
}

.top-corner-right {
  position: absolute;
  top: 12px;
  right: 20px;
}

.group-page-description {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  h1{
    color: $our-blue;
    text-align: center;
  }
}

.group-page-item {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  border-top: 1px solid $our-grey;
}

.hide {
  display: none;
}

.display-cards {
  display: block;
}

.confirmation {
  margin-bottom: 20px;
  color: $our-blue;
}

.hidden {
  display: none;
}
