.map-groups-container {
  margin-top: 60px;
  position: relative;
}

.filter-group-container{
  border-radius: 10px;
  text-align: justify;
  margin-top: 20px;
  margin-right: 10px;
  position: absolute;
  top: 80px;
  left: 14px;

}

.filter-form-children-age{
  margin-left: 20px;
}
