.groups-map-container {
  margin-top: 0px;
  position: relative;
}

.filter-group-container{
  color: transparent;
  border-radius: 10px;
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
  #new_filter_form {
    display: flex;
    align-items: center;
    margin-bottom: 0px !important;
  }
  .form-select.select.optional{
    // width is related to the filter bar
    width: 275px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 0px !important;
  }

  .map-filter-label {
    display: none;
  }
}
