.group-page-container {
  color: $gray;
  margin-bottom: 80px;
}

.banner {
  width: 100%;
  max-width: 414px;
  height: auto;
  opacity: 0.9;
  margin-top: 20px;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.title {
  font-family: $headers-font;
  color: white;
  font-size: 35px;
  -webkit-text-stroke: 1px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.group-page-info {
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.group-members-container {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  border-top: 1.5px solid $our-grey;
  padding-left: 0;
  .avatar {
    margin-left: 0;
    margin-top: 15px;
  }
}



.group-request-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  border-top: 1.5px solid $our-grey;
}

.group-page-description {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}

.group-page-item {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  border-top: 1.5px solid $our-grey;
}

.event-droplist {
  display: none;
}

.display-cards {
  display: block;
}

.group-members-container .avatar{
  margin-bottom: 20px;
}

.event-info-card-body {
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
  overflow: hidden;
  background: $our-light-yellow;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.event-info-card-body h4 {
  color: $our-red;
}

.event-info-card-body p {
  color: $gray;
  font-size: 12px;
  line-height: 1;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.event-confermation-container {
  margin-top: 15px;
  margin-left: 200px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.confermation {
  margin-bottom: 20px;
  color: $our-blue;
}
