.mapboxgl-popup-content h5 {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.card-group-image > img {
  height: 70px;
  width: 100%;
  object-fit: cover;
}

.mapboxgl-popup-content .card-body {
  height: fit-content;
  padding: 16px;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
