.card-group-image > img {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

.card-body h5 {
  color: $our-blue;
}

.card-body {
  margin-left: 10px;
  margin-right: 10px;
}

.card-body a {
  text-decoration: none;
  border-color: transparent;
}
