.show-resources-container {
  color: $gray;
  margin: 70px 20px 80px 20px;
}

.resources-headers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  a {
    margin-left: 8px;
    text-decoration: none;
  }

  h1 {
    font-size: 32px;
    color: #0096FF;
    margin-bottom: 6px;
  }

  > p {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #808080;
    font-weight: normal;
    width: 96%;
    margin-bottom: 10px;
  }
}

.resources-h1-create {
  display: flex;
  flex-direction: row;
  align-items: center;

  .resources-new-button {
    background-color: $our-red;
    color: white;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 3px 8px;
    border: 0px;
    border-radius: 10px;
  }
}

.resources-explainer {
  font-size: 16px;
  color: #808080;
}
.resources-header-title {
  align-items: center;
  margin-bottom: 0px;
}

.resources-filter-container {

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .btn-filter {
    margin-bottom: 1rem;
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    padding: 4px 12px;
    height: auto;
  }

  .form-select {
    font-size: 14px;
    padding: 4px 12px;
    background-color: white;
    color: grey;
    border-radius: 10px 0 0 10px;
  }

  label {
    display: none;
  }
}

.resource-cards-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 24px;

}

@media (min-width: 769px) {
  .resource-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    place-items: center;
  }
}
