.show-resources-container {
  color: $gray;
  margin: 70px 20px 80px 20px;
}

.resources-headers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  a {
    margin-left: 8px;
    text-decoration: none;
  }

  h1 {
    font-size: 32px;
    color: #0096FF;
    margin-bottom: 6px;
  }

  > p {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #808080;
    font-weight: normal;
    width: 96%;
    margin-bottom: 10px;
  }
}

.resources-italian-flag {
  width: 18px;
  padding-bottom: 4px;
}
.resources-h1-create {
  display: flex;
  flex-direction: row;
  align-items: center;

  .resources-new-button {
    background-color: $our-red;
    color: white;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 3px 8px;
    border: 0px;
    border-radius: 10px;
  }
}

.resources-explainer {
  font-size: 16px;
  color: #808080;
}
.resources-header-title {
  align-items: center;
  margin-bottom: 0px;
}


.resources-filter-new {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }
}



// .card-product-infos p {
//   margin-bottom: 4px;
// }

// .card-product-infos {
//   display: flex;
//   font-size: 8px;
//   justify-content: space-between;
//   padding-right: 0px;
// }

// .card-product {
//   margin-top: 20px;
//   margin-bottom: 20px;
//   padding: 2px 16px;

// }

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card {
//   /* Add shadows to create the "card" effect */
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   border-radius: 10px;
//   margin: 10px 10px;
// }

// .card p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 5px;
//   margin-top: 5px;
// }

// .card h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
//   display:flex;
// }

// .card img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }
// /* On mouse-over, add a deeper shadow */
// .card:hover {
//   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
// }

// TRY THIS LATER!!

.profile-list {
  padding: 0px 0px;

  li {
    list-style-type: none;
  }
}

.resources-pin-button {
  position: absolute;
  top: 8px;
  right: 14px;
  padding: 0px;
  color: $our-red;
  font-size: 14px;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  .form-control {
    width: fit-content;
    height: fit-content;
    background-color: white;
  }

  .a {
    text-decoration: none;
  }

}

.filter-container select {
  padding: 2px 20px;
  // border: 1px solid #ccc;
  border-radius: 10px 0px 0px 10px;
  color: #b2a2a2;
  font-size: 14px;
}

.filter-container button {
  padding: 3px 8px;
  background-color: $our-red;
  color: #fff;
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  font-size: 14px;
  font-family: $body-font;
  margin-right: 0px;
}

.filter-container button:hover {
  padding: 2px 8px;
  background-color: white;
  border: 1px solid $our-red;
  color: $our-red;
}

.resources-pin-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px 0px;
  position: relative;
}

.resources-pin-card img {
height: 100%;
width: 120px;
object-fit: cover;
}

.resources-pin-card h2 {
font-size: 16px;
font-weight: bold;
margin: 0;
display:flex;
}

.resources-pin-card p {
font-size: 12px;
line-height: 1.4;
opacity: .7;
margin-bottom: 5px;
margin-top: 5px;
font-family: $body-font;
}

.resources-pin-card .resources-pin-infos {
padding: 16px;
}

.resources-pins-category {
display: flex;
justify-content: flex-end;

  .fa-map-pin {
    margin-left: 4px;
  }
}

.resources-pins-category > button {
font-size: 10px;
align-items: flex-end;
color: $our-blue;
background-color: white;
border: solid 1px $our-blue;
margin-right: 5px;
padding: 0px 6px;
border-radius: 10px;
}


.clicked {
  color: $our-blue;
}
