.show-resources-container {
  color: $gray;
  margin: 70px 20px 80px 20px;
}

.resources-headers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  a {
    margin-left: 8px;
    text-decoration: none;
  }

  h1 {
    font-size: 32px;
    color: #0096FF;
    margin-bottom: 6px;
  }

  > p {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #808080;
    font-weight: normal;
    width: 96%;
    margin-bottom: 10px;
  }
}

.resources-italian-flag {
  width: 18px;
  padding-bottom: 4px;
}
.resources-h1-create {
  display: flex;
  flex-direction: row;
  align-items: center;

  .resources-new-button {
    background-color: $our-red;
    color: white;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 3px 8px;
    border: 0px;
    border-radius: 10px;
  }
}

.resources-explainer {
  font-size: 16px;
  color: #808080;
}
.resources-header-title {
  align-items: center;
  margin-bottom: 0px;
}


.resources-filter-new {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  .form-control {
    width: fit-content;
    height: fit-content;
    background-color: white;
  }

  .a {
    text-decoration: none;
  }

}

.filter-container select {
  padding: 2px 20px;
  border-radius: 10px 0px 0px 10px;
  color: #b2a2a2;
  font-size: 14px;
}

.filter-container button {
  padding: 3px 8px;
  background-color: $our-red;
  color: #fff;
  border: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  font-size: 14px;
  font-family: $body-font;
  margin-right: 0px;
}

.filter-container button:hover {
  padding: 2px 8px;
  background-color: white;
  border: 1px solid $our-red;
  color: $our-red;
}

.resource-cards-container {
  display: grid;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  grid-gap: 24px;

}

@media (min-width: 769px) {
  .resource-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    place-items: center;
  }
}
