.show-profile-container {
  color: $gray;
  margin: 70px auto;
}

.show-profile-headers {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;

  a {
    margin-left: 10px;
  }
}

.header-title {
  align-items: center;
  margin-bottom: 0px;
}

.profile-edit-button {
  background-color: $our-red;
  color: white;
  font-size: small;
  margin-right: 5px;
  padding: 4px 4px;
  border: 0px;
  border-radius: 50%;
  flex: 1;
}

.header-link {

  a {
    font-size: 14px;
    color: $our-blue
  }
}

.profile-tab {
  overflow: hidden;
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.profile-tab .tablinks {
  background-color: $our-red;
  color: white;
  font-size: small;
  margin-right: 5px;
  padding: 3px 6px;
  border: 0px;
  border-radius: 10px;
  flex: 1;
  transition: 0.3s;
}

.profile-tab button:hover {
  background-color: rgb(185, 110, 110);
}

.profile-tab button.active {
  background-color: white;
  color: $our-red;
  border: solid 1px $our-red;
}

.profile-tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.cards-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 24px;
}

@media (min-width: 769px) {
  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    max-width: 769px; /* Maximum width for two columns */
    margin: 0 auto; /* Center the container horizontally */
    place-items: center;
    margin-top: 24px;
  }
}

.button-new-group {
  text-decoration: none !important;
}

.card-profile-group {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  background: white;
  transition: 0.3s;
  border-radius: 10px;
  width: 320px;

  h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 10px;
    opacity: .7;
    margin: 0;
  }

  .profile-group-image {
    height: 120px;
    width: 100%;
    object-fit: cover;
  }

  .profile-group-info {
    padding: 8px;
    position: relative;
  }
}

.profile-group-logo {
  width: 20px;
  position: absolute;
  left: 10px;
  top: -92px;
  border-radius: 3px
}

.profile-group-role {
  background-color: $our-blue;
  border: 0px;
  color: white;
  padding: 3px 6px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  left: 238px;
  top: -14px;
}

.profile-group-info .request-count {
  position: absolute;
  right: 6px;
  top: 24px;
}

.profile-card-link {
color: inherit;
}

.request-count {
  color: $our-blue;
  font-size: 10px;
  margin-right: 5px;
  padding: 3px 6px;
}


.laura-presentation {
  margin-top: 85px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
  padding: 20px 25px 20px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: $body-font;
  text-align: justify;
  border-radius: 20px;



  .strong {
    color: $our-blue;
  }

  .profile-message {
    border-top: 1px solid #c5bfbf;
    border-bottom: 1px solid #c5bfbf;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .profile-children-info {
    margin-bottom: 0px;
  }
}

.profile-otheruser-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 0px 8px;

  h1 {
    font-size: 34px;
    color: $our-red;
    text-align: center;
    margin-bottom: 0px;
  }

  .profile-otheruser-avatar {
    width: 30px;
    border-radius: 50%;
  }
}

.profile-tags {
  display: flex;
  justify-content: space-around;

  .profile-blue-tag {
    font-size: 12px;
    align-items: flex-end;
    color: $our-blue;
    border: solid 1px $our-blue;
    padding: 0px 6px;
    border-radius: 10px;
    margin-bottom: 0px;
  }
}

.create-group-section {
  display: flex;

}
