.questionaire-container {
  height: 750px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 25px 25px 25px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: $body-font;
}

.questionaire-container h1{
  color: $our-blue;
  margin-bottom: 30px;
}

#new_prompt{
  font-family: $body-font;
}
