<div class="footer fixed-bottom" data-controller="footer">
  <div class="footer-links" data-target = "footer">
    <%= link_to root_path, class: "footer-item" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to resources_path, class: "footer-item" do %>
      <i class="fa-solid fa-folder"></i>
    <% end %>
    <%= link_to profile_path, class: "footer-item" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
</div>
