<div class="footer fixed-bottom">
  <div class="footer-links">
    <%= link_to root_path, class: "footer-item" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to resources_path, class: "footer-item" do %>
      <i class="fa-solid fa-folder"></i>
    <% end %>
    <%= link_to user_profile_path(current_user), class: "footer-item" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
    <%= link_to stories_path, class: "footer-item" do %>
      <i class="fa-solid fa-book"></i>
    <% end %>
  </div>
</div>
