
<div class="footer fixed-bottom">
  <div class="footer-links">
    <%= link_to root_path, class: "footer-item" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to resources_path, class: "footer-item" do %>
      <i class="fa-solid fa-folder"></i>
    <% end %>
    <%# <a href="#"><i class="fa-solid fa-bell"></i></a> %>
    <%= link_to "#", class: "footer-item" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
</div>
