<div class="footer fixed-bottom">
  <div class="footer-links">
    <%= link_to groups_path, class: "footer-item" do %>
      <i class="fa-solid fa-map-location-dot"></i>
    <% end %>
    <%= link_to resources_path, class: "footer-item" do %>
      <i class="fa-solid fa-folder"></i>
    <% end %>
    <%= link_to profile_path, class: "footer-item" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
    <%= link_to stories_path, class: "footer-item" do %>
      <i class="fa-solid fa-book"></i>
    <% end %>
  </div>
</div>
