<div class="container-group-footer fixed-bottom">
  <div class="group-footer-links">
    <%= link_to groups_path, class: "group-footer-item" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to resources_path, class: "group-footer-item" do %>
      <i class="fa-solid fa-folder"></i>
    <% end %>
    <%= link_to profile_path, class: "group-footer-item" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
    <%= link_to group_chatroom_path(@group.id), class: "group-footer-item" do %>
     <i class="fa-regular fa-comment"></i>
    <% end %>
  </div>
</div>
