<h2>Ciao <%= @user.first_name %> </h2>
<h4>Groups</h4>
<ul>
  <li>
    <% @my_groups.each do |group| %>
    <%= group.name %>
    <p>Admin</p>
    <% end %>
  </li>
</ul>

<ul>
  <li>
    <% @groups.each do |group| %>
    <%= group.name %>
    <p>Member</p>
    <% end %>
  </li>
</ul>
