
<div class="show-resources-container">
  <div class="resources-headers">
    <div class="resources-h1-create">
      <h1 class="resources-header-title">Resources</h1>
        <%= link_to "#" do %>
          <p class="resources-new-button">New</p>
        <% end %>
      </div>
    <p>
      Bits of advice from the Volo community! Browse our selection of recommendations and tips to get your kids speaking Italian!
    </p>
  </div>

  <div class="resources-filter-new">
    <div class="filter-container">
      <select id="category-filter" class="form-control">
        <option value="">Categories</option>
        <% @categories.each do |category| %>
          <option value="<%= category %>"><%= category %></option>
        <% end %>
      </select>
      <button id="filter-button" class="btn button-primary">Filter</button>
    </div>
  </div>

    <div class="Resources">
      <%= render @resources %>
    </div>
</div>
