.btn-success{
  display: block;
  color: white;
  font-size: small;
  margin-top: 15px;
  margin-left: 200px;
  margin-bottom: 20px;
  border-color: $our-red;
  background-color: $our-red;
  border-radius: 8px;
  // box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.btn-add {
  display: inline-flex;
  color: $our-grey;
}
