.btn-success{
  display: block;
  color: white;
  font-size: small;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-color: $our-red;
  background-color: $our-red;
  border-radius: 20px;
  // box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.btn-add {
  display: inline-flex;
  color: $our-grey;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-request {
  margin-right: 30px;
}

.btn-event {
  margin-left: 60%;
}

.btn-filter{
  display: inline-flex;
  height: 37px;
  margin-top: 32px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 8px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.btn-apply {
  display: inline-flex;
  height: 37px;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 8px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.btn-submit {
  background-color: $our-blue;
  margin-left: 40%;
  font-size: larger;
  border-color: $our-blue;

}
