.btn-success{
  color: $our-red;
  border-color: $our-light-yellow;
  background-color: $our-light-yellow;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.btn-add {
  display: inline-flex;
  color: $our-grey;
}
