.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
  overflow: hidden;
  background: white;
  padding: 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  border-radius: 10px;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 390px;
  border-radius: 25px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
