.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup {
  text-align: center;
  background-color: transparent;
  font-family: $body-font;
  overflow: hidden;

  .mapboxgl-popup-content {
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
    pointer-events: auto;
    border-radius: 10px;
  }
}

.mapboxgl-ctrl-top-right {
  margin-top: 50px;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin-top: 90px;
  width: 355px;
  height: 45px;
  padding-bottom: 8px;
  border-radius: 25px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  .mapboxgl-ctrl-geocoder--input {
    margin: -3px;
    margin-left: 6px;
  }
  .mapboxgl-ctrl-geocoder--icon-search {
    margin: -3px;
    margin-left: 6px;
  }

}
