.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup {
  text-align: center;
  background-color: transparent;
  font-family: $body-font;
  overflow: hidden;

  .mapboxgl-popup-content {
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
    pointer-events: auto;
    border-radius: 10px;
  }
}

.mapboxgl-ctrl-geocoder {
  box-shadow: none;
  border: 1px solid #dee2e6;
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  border: 0;
  padding: 0px 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


// LOCATION SEARCH
.mapboxgl-ctrl-top-right {
  position: absolute;
  top: 1% !important;
  right: 50% !important;
  transform: translate(50%, 50%);

  @include media(tabletAndUp) {
    top: 0% !important;
  }

  .mapboxgl-ctrl {
    margin: 0 0 !important;
  }
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 355px;
  height: 36px;
  border-radius: 20px;
  display: flex !important;
  align-items: center !important;
  padding-left: 10px;

  .mapboxgl-ctrl-geocoder--icon {
    display: none;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    margin: 0;
    margin-left: 6px;
  }

}

// AGE FILTER
.filter-group-container{
  color: transparent;
  border-radius: 10px;
  position: absolute;
  bottom: 9%;
  right: 3%;

  @include media(tabletAndUp) {
    top: 7%;
    right: 2%;
  }

  #new_filter_form {
    display: flex;
    align-items: center;
  }

  .form-select.select.optional{
    width: 80px;
    height: 36px;
    background-color: white;
    border-radius: 20px 0 0 20px;
    margin: 0px !important;
    font-size: small;
  }

  .map-filter-label {
    display: none;
  }

  .filter_form_children_age {
    margin-bottom: 0 !important;
  }
}
