.navbar-volo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $our-red;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0;
  padding-bottom: 0;
}


.navbar-volo .navbar-collapse {
  flex-grow: 0;
}

.navbar-volo .navbar-brand img {
  width: 40px;
}

.navbar-volo h1{
  display: flex;
  font-size: 45px;
  color: white;
  align-items: center;
}
