.navbar-volo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $our-red;
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  margin-left: 0px;

  .avatar {
    margin-right: 8px;
    width: 35px;
  }

  h1{
    display: flex;
    align-items: center;
    font-size: 45px;
    color: white;
    padding: 0px 0px;
    margin: 0px;
    margin-left: 0px;
  }
}

.navbar-brand > img {
  width: 40px;
  padding-left: 8px;
}


// .navbar-volo img {
//   width: 40px;
//   padding-left: 8px;
// }
