.navbar-volo {
  display: flexbox;
  justify-content: space-between;
  background: $our-light-yellow;
}


.navbar-volo .navbar-collapse {
  flex-grow: 0;
}

.navbar-volo .navbar-brand img {
  width: 30px;
}

.navbar-title{
  color: $our-red;
  justify-content: space-between;
}
