.gray-line {
  border-bottom: 2px solid #AEA8A8;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  // opacity: 1;
  margin-top: 1rem;
  // margin-bottom: 1rem;
}

.space-one-rem {
  height: 1rem;
}
