// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

#content-wrapper {
  margin-top: 70px;
}


@media (min-width: 768px) {
  .footer {
    display: none;
  }

  .floating-button-bar {
    position: fixed;
    bottom: 50px;
    width: 60%;
    background-color: $our-red;
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    left: 50%; /* Set the left position to 50% */
    transform: translateX(-50%); /* Center the element horizontally */
  }
}
