.content {

  text-align: center;
  margin: auto;

}

.card-product-infos p {
  margin-bottom: 4px;
}

.card-product-infos {
  display: flex;
  font-size: 8px;
  justify-content: space-between;
  padding-right: 0px;
}

.card-product {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2px 16px;

}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card {
  /* Add shadows to create the "card" effect */
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px 10px;
}

.card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  display:flex;
}

.card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  padding-top: 120px;
}

.pin-button {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 0px;
  color:red;
}

.resource-link {
  display: block;
  margin-top: 10px;
}


.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-container label {
  font-weight: bold;
}

.filter-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-container button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-container button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 24px; /* Adjust the desired font size for the title */
  line-height: 1.2; /* Adjust the desired line height for the title */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.6em;
}

.content p {
  font-size: 10px;
}

.profile-pin-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px 10px;
}

.profile-pin-card img {
height: 100%;
width: 120px;
object-fit: cover;
}

.profile-pin-card h2 {
font-size: 16px;
font-weight: bold;
margin: 0;
display:flex;
}

.profile-pin-card p {
font-size: 12px;
line-height: 1.4;
opacity: .7;
margin-bottom: 5px;
margin-top: 5px;
}

.profile-pin-card .profile-pin-infos {
padding: 16px;
}

.profile-pins-category {
display: flex;
justify-content: flex-end;
}

.profile-pins-category > button {
font-size: 10px;
align-items: flex-end;
color: $red;
background-color: white;
border: solid 1px $red;
margin-right: 5px;
padding: 0px 6px;
border-radius: 10px;
}


.pin-button.clicked {
  background-color: white;
  border: 1px solid red;
}
